/* Style du formulaire */
body, html {
    margin: 0;
    padding: 0;
    color: #ccc;
    /* background-color: #cd2121; */
}

/* Réinitialisation des marges et des paddings */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #afc601;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

/* Style des étiquettes et des champs de formulaire */
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style des boutons au sein du formulaire */
input[type="submit"],
#ajouInput,
#generatePdf,
#sub,
#toggle {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #afc601;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#generatePdf {
    margin-left: 46%;
}

#sub {
    margin-left: 42%;
}

#toggle {
    margin-top: 3%;
    margin-left: 46%;
}

/* Styles for the dark mode toggle */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

/* Slider styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}
